@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

body{
    background-color: black;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
     padding-bottom: 80px; 
     overflow-x: hidden;
}

.heading{
    font-size: 20px;
    color: #d3d3d3;
    line-height: 50px;
    font-family:'Press Start 2P', cursive;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper img {
  border: #00f7ff solid 3px;
  border-radius: 20px;
  margin: 0 70px;
}
.image-wrapper img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.image-wrapper p {
  color: #d3d3d3;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px; 
}

#rock,#paper,#scissor,#restart{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(81, 81, 81);
    padding: 10px 25px;
    margin: 3px;
    border: 2px solid #00f7ff;
    border-radius: 15px;
    cursor: pointer;
}

#rock:hover,#paper:hover,#scissor:hover,#restart:hover{
     background-color: #00f7ff;
    color: black;
    transform: scale(1.05);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#results{
    color: #d3d3d3;
    font-size: large;
}

 a{color:#ffff;}

a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color:#00f7ff;
    text-decoration: none; 
} 

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #00f7ff;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 50%;
    color: #00f7ff;
   
    transition: 0.3s ease-in-out;
}

.social-icon a:hover{
    color: black;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 25px #00f7ff;
    background-color:#00f7ff;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px 10px;
    color: #ffff;
    font-size: 13px;
    bottom: 0;
    width: 100%;
   position: absolute
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    margin-bottom: 20px;
  }
  .heading {
    font-size: 7px;
    margin-bottom: 20px;
  }

  .image-wrapper img {
    margin: 20px 0;
    width: 70%;
    height: auto;
    max-width: 300px;
  }

  .image-wrapper p {
    font-size: 18px;
  }

  #rock, #paper, #scissor, #restart {
    font-size: 13px;
    padding: 5px 15px;
  }
}
